{% extends 'base.html' %}

{% block content %}
  <main class='container'>
    <h1>글 목록</h1>
    <section>
      {% for review in reviews %}
        <a href="{% url 'reviews:detail' review.pk %}">
          <div class="card">
            <div class="card-body">
              <p>{{ review.movie_name }}</p>
              <h3>{{ review.title }}</h3>
              <p>{{ review.updated_at|date:"Y-m-d" }}
                {{ review.updated_at|timesince }}전</p>
              <p>{{ review.content }}</p>
              <p>평점:
                {{ review.grade }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </section>
    <a class="btn btn-primary" href="{% url 'reviews:create' %}" role="button">글 작성</a>
  </main>
{% endblock content %}