{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <main class='container my-3'>
    <h2 class='my-5 text-center'>지금 한국에서 인기있는 영화</h2>
    <section class='row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4'>
      {% for result in results_popular %}
        <a href="{% url 'movie:detail' result.id %}" class='text-decoration-none text-dark search-movie-a'>
          <article class='col'>
            <img src="https://image.tmdb.org/t/p/original/{{ result.poster_path }}" alt="" class='search-movie-img'>
            <div class='mt-1 text-center'>
              <p class='m-0'>{{ result.original_title }}</p>
              <p class='m-0 text-muted'>개봉일:
                {{ result.release_date }}</p>
            </div>
          </article>
        </a>
      {% endfor %}
    </section>
    <h2 class='my-5 text-center'>오늘 인기 영화</h2>
    <section class='row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4'>
      {% for result in results_trend %}
        <a href="{% url 'movie:detail' result.id %}" class='text-decoration-none text-dark search-movie-a'>
          <article class='col'>
            <img src="https://image.tmdb.org/t/p/original/{{ result.poster_path }}" alt="" class='search-movie-img'>
            <div class='mt-1 text-center'>
              <p class='m-0'>{{ result.original_title }}</p>
              <p class='m-0 text-muted'>개봉일:
                {{ result.release_date }}</p>
            </div>
          </article>
        </a>
      {% endfor %}
    </section>
  </main>
{% endblock content %}