{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <main class='container my-3'>
    <div class="alert alert-warning my-3 text-center" role="alert">
      "{{ search }}"의 검색 결과
    </div>
    <section class='row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4'>
      {% for result in results %}
        <a href="{% url 'movie:detail' result.id %}" class='text-decoration-none text-dark search-movie-a'>
          <article class='col'>
            <img src="https://image.tmdb.org/t/p/original/{{ result.poster_path }}" alt="" class='search-movie-img'>
            <div class='mt-1 text-center'>
              <p class='m-0'>{{ result.title }}</p>
              <p class='m-0 text-muted'>개봉일:
                {{ result.release_date }}</p>
            </div>
          </article>
        </a>
      {% endfor %}
    </section>
  </main>
{% endblock content %}